.navBtn {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
}

.navBtn:hover {
  color: #b770ea;
}

.navBtn:active {
  color: #e8c8ff;
}

.cripta {
  color: #a3a3a3; /* Color más tétrico */
}

.web {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 1.2rem;
  opacity: 0.7;
}
