.profileCircle {
  width: 130px;
  height: 130px;
  background-color: #222;
  border-radius: 50%;
  border: 1px solid #800493;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.profileCircle:hover {
  transform: scale(1.05);
  border-color: #ad5c96;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
