/* src/renderer/src/assets/styles/main.css */
@import './variables.css';
@import './reset.css';
@import './typography.css';

body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  background-image: url('../wavy-lines.svg');
  background-size: cover;
  overflow-y: auto;
}
