/* src/renderer/src/assets/styles/variables.css */
:root {
  --font-global: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --color-white: #ffffff;
  --color-brand-accent: #ad5c96;
  --color-background: #1b1b1f;

  --ev-c-black: #1b1b1f;
  --ev-c-text-1: rgba(255, 255, 245, 0.86);

  --bg-button-gradient: linear-gradient(135deg, #6b46c1 0%, #ad5c96 100%);
  --color-button-glow: rgba(173, 92, 150, 0.3);
}
